<div class="container border border-primary rounded-lg" id="lobby-page">
    <form id="login-form" class="rounded mt-5 mb-5 mr-5 ml-5 text-center">
        <div class="row" id="usmarg">
            <img src="./assets/king2.png" class="card-img" id="whiteking" alt="Responsive image">
            <h2 id="users">Host</h2>
        </div>
            <br>
        <div class="row" id="usmarg">
            <img src="./assets/king1.png" class="card-img" id="blackking" alt="Responsive image">
            <h2 id="users2">{{username}}</h2>
        </div>
    </form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/lobby-guest.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>